.article {
    width: auto;
    padding: 2rem;
    background-color: #f1f1f1;
}
.thumbnail {
    width: 100%;
    height: auto;
    margin: 0 0 1rem 0;
}
.metadata {
    display: flex;
    margin: 1rem 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.metakey {
    font-weight: bold;
}
.metavalue {
    font-weight: normal;
}
.excerpt {
    margin: 1rem 0;
}
.readnow {
    display: inline-block;
    padding: 0.5rem;
    background-color: #000;
    color: #fff;
}
.readnow:hover {
    background-color: #0083e7;
    color: #fff;
}
